@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}
.App {
  /* min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto; */
}
body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  min-height: 100vh;
  width: 65vw;
  max-width: 1900px;
  margin: 0rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 50px;
  min-height: 4rem;
  padding: 0rem 2rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 9.9px 4px rgba(164, 164, 164, 0.12);
}
.navContainer {
  display: flex;
  align-items: center;
  font-weight: 500px;
}
.navLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoText {
  font-weight: 500;
  font-size: 20px;
}
.navMenu {
  display: none;
}
.navLinks a {
  margin-right: 1rem;
  text-decoration: none;
  color: black;
  text-decoration: none;
  color: #333; 
  font-size: 18px;
  font-weight: 500;
}
.navButton {
  color: #fff;
  border-radius: 8px;
  gap: 4px;
  border-width: 1px;
  padding: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 400;
  transition: 0.2s;
  background: rgba(5, 104, 57, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  outline: none;
  border: none;
  gap: 5px;
}
/* .navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
} */
.nav svg {
  font-size: 1.5rem;
  cursor: pointer;
}
.workSectionBody{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 40px;
      max-width: 1200px;
      margin: auto;
}
.weDoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  max-width: 750px;
}
.weDoCover1{
  background: rgba(255, 204, 104, 1);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
 border-radius: 10px;
 margin: 1rem;
 padding: 1rem;
}
.weDoCover1 h2{
  color: #fff; 
  
}
.weDoCover1 img{
  width: 100%;
  display: flex;
 justify-content: center;
  border-radius: 5px;
}
.weDoCover2{
  background: rgba(5, 104, 57, 1);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
 }
 .weDoCover2 img{
   width: 100%;
   border-radius: 5px;
   background-color: #fff;
 }
 .weDoCover3{
  background: rgba(255, 172, 95, 1);
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
 }
 .weDoCover3 img{
   width: 100%;
   border-radius:5px;
   background-color: #fff;
 }

.homeBanner {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
  background-color: #f8f9fa;
}
.homeBannerImage {
  flex: 1;
  display: flex;
  justify-content: center;
}
.homeBannerImage img {
  width: 100%;
  max-width: 450px;
}
.homeSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 40px;
}
.primarySubheading {
  background: rgba(46, 139, 87, 0.1);
  border-radius: 12px;
  font-weight: 500;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  color: #2e8b57;
  margin-bottom: 10px;
}
.primaryHeading {
  /* font-size: clamp(2rem, 5vw, 1.5rem);
  font-weight: 600; */
  /* line-height: 5rem; */
  max-width: 600px;
  font-size: 36px;
  font-weight: bold;
  color: #222;
  margin-bottom: 20px;
}
.primaryText {
  /* font-size: clamp(1rem, 3vw, 0.5rem); */
  /* max-width: 500px;
  margin: 1.5rem 0rem; */

  font-size: 16px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}
.secondaryButton {
  padding: 1rem 2.5rem;
  background-color: #fe9e0d;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}
.secondary-button:hover {
  background-color: #e48f0f;
}
.whyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
}
.whySection {
  margin-bottom: 30px;
}
.whySection p {
  font-size: 18px;
  color: rgba(5, 104, 57, 1);
  font-weight: 600;
}

.whySection h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  max-width: 700px;
  margin: auto;
}
.whyContent {
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.whyImage {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  }
  .whyImage img {
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
  }
  .whyNum{
    color: #fe9e0d;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .whyNum2{
    color: rgba(5, 104, 57, 1);
    font-size: 1.5rem;
    font-weight: 700;
  }
.whyVera {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  gap: 10px;
}
.whyVera p {
  font-size: 18px;
  margin-top: 10px;
}
.whyVara h3{
  margin: 1rem 0rem;
  font-size: 24px;
  color: #333;
  font-weight: 600;
}
.about-background-image-container {
  position: absolute;
  left: -150px;
  z-index: -2;
}
.about-section-image-container {
  flex: 0.9;
  margin-right: 1rem;
}
.about-section-text-container {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.primary-subheading {
  font-weight: 700;
  color: #fe9e0d;
  font-size: 1.15rem;
}
.about-buttons-container {
  margin-top: 2rem;
  display: flex;
}
.watch-video-button {
  margin-left: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #484848;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.watch-video-button svg {
  font-size: 3rem;
  margin-right: 1rem;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
}
.contact-form-container {
  background-color: white;
  max-width: 700px;
  width: 100%;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 5rem;
}
.contact-form-container input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
}
.footerWrapper {
  padding: 5rem 10%;
  /* margin: 6rem 0rem; */
  display: flex;
  margin-top: 10rem;
  background: rgba(5, 104, 57, 1);
  color: #fff;
}
.footer-logo-container {
  max-width: 110px;
}
.footer-icons {
  margin-top: 2.5rem;
}
.footer-icons svg {
  font-size: 1.5rem;
  margin-right: 1.25rem;
  color: #fff;
}
/* .footer-section-one {
  border: 2px solid blue;
} */
.footer-section-two {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem;
}
.footer-section-columns {
  display: flex;
  flex-direction: column;
  min-width: 190px;
}
.footer-section-columns span {
  margin: 0.25rem 0rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.letsTalk {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 50vh; /* Full viewport height */
  margin: 7rem;
  border-radius: 18px;
  text-align: center; /* Center text */
  background: rgba(0, 237, 124, 1);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  outline: none;
}

.letsTalk h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.letsTalk p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
}

.navButton1 {
  background: rgba(255, 204, 104, 1);
  color: #000;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-width: 1px;
  font-size: 1rem;
  transition: 0.2s;
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 1);
  outline: none;
  gap: 5px;
}

.testimonialSection{
  display:flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
}

.testimonialSectionBottom {
  background-color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  border-radius: 2rem;
  flex-direction: column;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  margin: 10px;
}
.testimonialSectionBottom{
  margin: 2rem auto;
  transform: translateY(-10px);
}
.testimonialSectionBottom p {
  font-weight: 700;
  color: #515151;
  max-width: 500px;
  font-size: 1.1rem;
  margin: 2rem 0rem;
}
/* .testimonials-stars-container svg {
  margin: 0rem 0.25rem;
  font-size: 1.5rem;
  color: #fe9e0d;
} */
.testimonial-section-bottom h2 {
  margin-top: 1.5rem;
}
.work-section-wrapper {
  margin-top: 5rem;
}
.work-section-top p {
  text-align: center;
  max-width: 600px !important;
}
.work-section-top h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  max-width: 600px;
  margin: auto;
}
.work-section-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.work-section-info {
  width: 290px;
  min-height: 350px;
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 1rem;
  color: #505050;
  margin: 1rem 2rem;
}
.work-section-info h2 {
  margin: 1rem 0rem;
}
.work-section-bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.work-section-info p {
  flex: 1;
  display: flex;
  align-items: center;
  font-weight: 600;
}

@media (max-width: 768px) {
  .homeBanner {
    flex-direction: column;
    text-align: center;
  }

  .homeBannerImage,
  .homeSection {
    flex: none;
    width: 100%;
  }

  .homeSection {
    padding-left: 0;
    margin-top: 20px;
  }

  .navButton {
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .navLinks a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .navButton {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .navLogo {
    max-width: 140px;
  }
  .navLinks {
    display: none;
  }
  .navMenu {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
  .contact-form-container {
    padding: 0.5rem !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem !important;
  }
  .contact-form-container input {
    font-size: 1rem !important;
    max-width: 100%;
    padding: 0.5rem 1rem !important;
    margin-bottom: 0.8rem !important;
    text-align: center;
  }
  .footerWrapper {
    flex-direction: column;
  }
  .footer-section-two {
    flex-direction: column;
    margin-top: 2rem;
  }
  .footer-section-columns {
    margin: 1rem 0rem;
  }
  .App {
    max-width: 95vw;
  }
}
@media (max-width: 600px) {
  .home-bannerImage-container,
  .about-background-image-container {
    display: none;
  }
}
